.search-box {
    width: 70%;
    height: 37px;
    margin-left: 15px;
}

.search-width {
    width: 40%;
}

#companySearchDiv {
    margin-right: 2rem;
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
{
    #companySearchDiv {
        margin-right: 0rem !important;
        width: 47%;
    }
    #companyLabel {
        width: 6rem;
    }
    #departmentLabel {
        width: 2.5rem;
    }
    .search-box {
        margin-right: 1rem !important;
        margin-left: 5px;
    }

}