.file-div {
    position: relative;
    overflow: hidden;
}

.file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.close-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 30px;
    line-height: 30px;
    font-size: 3rem;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
}

.right-arrow {
    font-size: 10rem !important;
    color: green !important;
    line-height: 300px !important;
}

.modal-lg {
    width: 1250px !important;
    max-width: 1250px !important;
}

.col-5 {
    width: 47% !important;
}

.col-2 {
    width: 6% !important;
}

.before-title, .after-title {
    text-align: center;
    color: white;
    height: 50px;
}

.before-label {
    background-color: #aa403b;
    width: 30%;
    font-size: 2rem;
}

.after-label {
    background-color: rgb(231, 168, 51);
    width: 30%;
    font-size: 2rem;
}

.right-control {
    top: 30px !important;
}

.problem-area {
    height: 80px;
    border: 1px solid;
    width: 100%;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
}

.btn-primary {
    background: #0852C0 !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 12%) !important;
}

.btn-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
}

.btn-success {
    color: #fff !important;
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.btn-success:hover {
    color: #fff !important;
    background-color: #157347 !important;
    border-color: #157347 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #bb2d3b !important;
    border-color: #157347 !important;
}

/* .carousel-control {
    opacity: 0;
}

.carousel-control:hover {
    opacity: 0.2;
} */

