.file-div {
    position: relative;
    overflow: hidden;
}

.file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

img {
    cursor: pointer;
}

.close-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 2rem;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    color: gray;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.right-arrow {
    font-size: 10rem !important;
    color: #7F7F7F !important;
    line-height: 300px !important;
}

.carousel-inner {
    height: inherit;
}

.carousel {
    height: inherit;
    border: 3px solid gray;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    .modal-lg {
        width: calc(90vw);
        max-width: calc(90vw) !important;
    }
    .carousel{
        width: 100%;
        height: 220px !important;
    }
    .img-size {
        height: 214px !important;
    }
    .close-image {
        font-size: 1.5rem;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1190px)
and (orientation : landscape)
{
    .modal-lg {
        width: calc(90vw);
        max-width: calc(90vw) !important;
    }
    .carousel{
        width: 100%;
        height: 300px !important;
    }
    .img-size {
        height: 294px !important;
    }
    .close-image {
        font-size: 2rem;
    }
}

@media (min-width: 1200px)
{
    .modal-lg {
        width: calc(65vw);
        max-width: calc(65vw) !important;
    }
    .carousel{
        width: 100%;
        height: 350px !important;
    }
    .img-size {
        height: 344px !important;
    }
}

.col-5 {
    width: 47% !important;
}

.col-2 {
    width: 6% !important;
}

.before-title, .after-title {
    text-align: center;
    color: white;
    height: 50px;
}

.before-label {
    background-color: #EE7E00;
    width: 100px;
    font-size: 2rem;
    padding: 2px;
}

.after-label {
    background-color: #0B97C1;
    width: 100px;
    font-size: 2rem;
    padding: 2px;
}

.problem-area {
    height: 80px;
    width: 100%;
    border: 3px solid gray;
}

.carousel-control {
    opacity: 0.1;
    margin-top: 150px !important;
    height: 50px;
}

.carousel-control:hover {
    opacity: 0.3;
}

.modal-backdrop.show {
    opacity: 0.9 !important;
}

#modalHeader {
    display: unset !important;
}