
body {
    background-color: #01304B;
}
.modal {
text-align: center;
padding: 0!important;
}
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}
.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
width: inherit;
}

.input-group {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group-addons {
    width: 34px;
    background-color: #c5d3e0;
}

.header {
    background-color: #01304B;
}