:root {
    --chart-width-pc: 350px !important;
    --chart-width-ipad: 220px !important;
}
.toppage-button {
    border-color: transparent !important;
    margin-bottom: 20px;
    width: 250px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
    white-space: break-spaces;
}
.radarChart {
    width: var(--chart-width-pc);
    height: var(--chart-width-pc);
    max-width: var(--chart-width-pc);
    max-height: var(--chart-width-pc);
    margin: 0 auto;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    margin-top: 10px;
}
.width-data {
    width: var(--chart-width-pc);
    text-align: center;
}
.container {
    max-width: 1714px !important;
}
.dept-btn {
    width: 250px;
    height: 80px;
    overflow: hidden;
    background-color: white;
    border-radius: 8px;
}
.has-overflow:after {
    content: "。。。";
}
#scrolling {
    overflow-y: scroll;
    overflow-x: scroll;
    height:80vh;
}
#homeButton {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    border-color: transparent;
}
/* Portrait mode */
@media only screen and (min-device-width: 810px) and (max-device-width: 1200px) {
    /* CSS rules for portrait mode and landscape mode on iPad */
    .radarChart {
        width: var(--chart-width-ipad);
        height: var(--chart-width-ipad);
        max-width: var(--chart-width-ipad);
        max-height: var(--chart-width-ipad);
        margin: 0 auto;
        background-color: white;
        margin-bottom: 15px;
        border: 1px solid #e2e2e2;
    }
    .width-data {
        width: var(--chart-width-ipad);
        text-align: center;
    }
    .container {
        width: 82% !important;
    }
    .dept-btn {
        width: 220px;
        height: 70px;
        overflow: hidden;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .toppage-button {
        width: 220px !important;
        height: 70px !important;
    }
    #mainDiv {
        width: 100vw !important;
    }
    table {
        width: 90% !important;
    }
    #homeButton {
        bottom: 45px !important;
        right: 0px !important;
    }
    #scrolling {
        height:70vh;
    }
}

table tr {
    border-color: transparent;
}
tr.radarChartRow > td:not(:last-child) {
    border-right-color: transparent;
}
.border-expand {
    border: 3px solid red !important;
}
.border-collapse {
    border: 0px solid transparent !important;
}
table {
    width: 100%;
}
legend {
    margin-left: 1rem;
}
tr.team-name-row td {
    padding: 2rem 0rem 1rem;
}
body {
    overflow-y: hidden;
    overflow-x: hidden
}
.team-chart-area {
    background-color: #ddebf7;
}
.team-area-title {
    padding: 10px;
}