:root {
    --chart-width-pc: 350px !important;
    --chart-width-ipad: 180px !important;
}
.main {
    width: 100%;
    height: 100%;
}
.toppage-button {
    width: 250px;
    height: 40px;
    line-height: 15px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    background-color: transparent;
    border-color: transparent;
    border-radius: 8px;
    text-align: center;
}
.anchor-link {
    color: #0b97c1;
    font-weight: bold;
}
.anchor-link:hover {
    opacity: 0.5;
}
.radarChart {
    width: var(--chart-width-pc);
    height: var(--chart-width-pc);
    max-width: var(--chart-width-pc);
    max-height: var(--chart-width-pc);
    margin: 0 auto;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    margin-top: 10px;
}
.width-data {
    width: var(--chart-width-pc);
    text-align: center;
}
.container {
    max-width: 1350px !important;
    width: calc(100vw - 205px)!important;
}
.dept-btn {
    width: 250px;
    height: 40px;
    line-height: 15px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    background-color: transparent;
    border-color: transparent;
    border-radius: 8px;
    text-align: left;
    /* padding: 10px; */
}
.has-overflow:after {
    /* content: "。。。"; */
}
#scrolling {
    overflow-y: scroll;
    overflow-x: hidden;
    height:80vh;
    padding-left: 50px;
    padding-right: 50px;
}
#homeButton {
    position: absolute;
    bottom: 0px;
    right: 5px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    border-color: transparent;
}
/* Ipad mode */
@media only screen and (min-device-width: 810px) and (max-device-width: 1200px) {
    /* CSS rules for portrait mode and landscape mode on iPad */
    .radarChart {
        width: var(--chart-width-ipad);
        height: var(--chart-width-ipad);
        max-width: var(--chart-width-ipad);
        max-height: var(--chart-width-ipad);
        margin: 0 auto;
        background-color: white;
        margin-bottom: 15px;
        border: 1px solid #e2e2e2;
    }
    .table > :not(caption) > * > * {
        padding: 0rem 0rem;
    }
    .width-data {
        width: var(--chart-width-ipad);
        text-align: center;
    }
    .sidebar {
        min-height: calc(100vh - 150px);
    }
    .container {
        width: calc(100vw - 205px)!important;
        height: 100%;
    }
    .container-fluid {
        height: 100%;
    }
    .container-fluid > #topPageChart {
        margin: 0 auto;
    }
    #topPageChart {
        width: 100%;
        height: 100%;
    }
    .dept-btn {
        width: var(--chart-width-ipad);
        height: 70px !important;
        line-height: 25px !important;
        background-color: transparent;
        text-align: left;
        border-color: transparent;
        border-radius: 8px;
        text-align: left;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
    }
    .toppage-button {
        width: var(--chart-width-ipad);
        height: 70px !important;
        line-height: 25px !important;
    }
    #mainDiv {
        width: 100vw !important;
    }
    table {
        width: 90% !important;
        margin: 0 auto;
    }
    #homeButton {
        bottom: 0px !important;
        right: 0px !important;
    }
    #scrolling {
        overflow-y: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Ipad landscape mode */
@media only screen and (min-device-width: 810px) and (max-device-width: 1200px) and (orientation: landscape) {
    #scrolling {
        height:70vh;
    }
}

table tr {
    border-color: transparent;
}
tr.radarChartRow > td:not(:last-child) {
    border-right-color: transparent;
}
.border-collapse {
    border: 0px solid transparent !important;
}
table {
    width: 100%;
}
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.team-chart-area {
    background-color: #ddebf7;
}
.team-area-title {
    padding: 10px;
}