.radarChart {
    width: 220px !important;
    height: 220px !important;
    max-width: 220px !important;
    max-height: 220px !important;
    margin: 0 auto;
}
.width-data {
    width: 250px !important;
}
.container {
    max-width: 1290px !important;
}

/* Portrait mode */
@media only screen and (min-device-width: 810px) and (max-device-width: 1200px) {
    /* CSS rules for portrait mode and landscape mode on iPad */
    .radarChart {
        width: 155px !important;
        height: 155px !important;
        max-width: 155px !important;
        max-height: 155px !important;
        margin: 0 auto;
    }
    .width-data {
        width: 180px !important;
    }
    .container {
        width: 82% !important;
    }
}

#emptyRow {
    height: 3rem;
    border-color: transparent;
}

#scrolling {
    overflow-x: scroll;
    overflow-y: scroll;
    height:75vh;
}

/* #deptRadarChart td:first-child {
    padding-left: 3rem !important;
    width: 268px !important;
    max-width: 268px !important;
}

.teamRadarChart td:first-child {
    padding-left: 3rem !important;
    width: 268px !important;
    max-width: 268px !important;
} */

table tr {
    border-color: transparent;
}

tr.radarChartRow > td:not(:last-child) {
    border-right-color: transparent;
}

.border-expand {
    border: 3px solid red !important;
}

.border-collapse {
    border: 0px solid transparent !important;
}

#fiestSetId {
    margin-bottom: 50px;
    min-width: fit-content !important;
    width: max-content;
}

table#topPageTable {
    width: max-content;
}

legend {
    margin-left: 1rem;
}

tr.team-name-row td {
    padding: 2rem 0rem 1rem;
}

body {
    overflow-y: hidden;
    overflow-x: hidden
}

/* .barChart {
    height: 220px !important;
    max-height: 220px !important;
} */

.btn-evidence {
    background-color: deepskyblue;
    color: aliceblue;
}
.toppage-button {
    border-color: transparent !important;
}