
/* Users css */
.word-wrap{
    word-break: break-word;
}

#pwdNote {
    font-size: 10px;
    color: #97999d;
}

#btnAdd,
#saveUserBtn,
#btn-edit {
    background-color: #0B97C1;
    border: 2px solid #7F7F7F;
}

#btn-delete,
.cancelBtn {
    color: #7F7F7F;
    background-color: #ffffff;
    border: 2px solid #7F7F7F;
}

#btn-delete:hover, 
.cancelBtn:hover {
    background-color: #dbdbdb91;
} 

.cancelBtn {
    border: none;
}